.survivors {
  position: relative;
  display:inline-block;
}

.resp-options {
  position: relative;
  align-items: center;
  margin: auto;
  display:inline-block;
  padding-bottom: 5%;
}


.resp-wrapper {
  position: relative;
  text-align: center;
  padding-top: 10%;
}